project:
  type: website
  output-dir: docs

website:
  title: ""
  navbar:
    left:
      - text: '<img src="images/3.webp" alt="Logo" style="height:30px; margin-right:10px;"> Home'
        href: index.qmd
      - text: PerLa e.V.
        href: about.qmd
      - text: Logbuch
        href: Logbuch.qmd

format:
  html:
    theme: darkly
    css: styles.css
    toc: true


editor: visual

